{% extends "checklist/main.html" %}

{% block content %}


{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissable" role="alert">
    <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
    </button>
</div>
{% endfor %}
{% endif %}
<h2>Aviable lists</h2>
{% if checklists.count > 0 %}

<table class="table table-bordered">
    {% for list in checklists %}
    {% if list.done %}
    <tr class="table-secondary">
        <td><a href="{% url 'uncross_list' list.id %}"><i class="fa fa-check fa-2x" aria-hidden="true"></i></a></td>
        <td><a href="{% url 'checklist' list.id %}">{{ list.name }}</a></td>
        <td>{{ list.description }}</td>
        <td>{{list.date|date:"d-m-Y"}}</td>
        <td><a href="{% url 'editlist' list.id %}">Edit</a></td>
    </tr>
    {% else %}
    <tr>
        <td><a href="{% url 'cross_list' list.id %}"><i class="fa fa-square-o fa-2x" aria-hidden="true"></i></a></td>
        <td><a href="{% url 'checklist' list.id %}">{{ list.name }}</a></td>
        <td>{{ list.description }}</td>
        <td>{{list.date|date:"d-m-Y"}}</td>
        <td><a href="{% url 'editlist' list.id %}">Edit</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% else %}
<p>Nothing to show</p>
{% endif %}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_list_modal">
    Add List
</button>

<!-- Modal -->
<div class="modal fade" id="add_list_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" enctype=multipart/form-data>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    {{add_list_form.as_p}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create List</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-12">
    <hr>
    <div id="vue-app">
        <span v-html="myTitle"></span>

    </div>

    <div id="vue-list">
        <ol>
            <li v-for="list in lists">
                {{ list.text }}
            </li>
        </ol>
    </div>
</div>

</div>


{% endblock %}
