.completed {
text-decoration: line-through;
}

.comment{
background-color: #ececec;
margin: 0px 0px 10px 0px;
padding: 10px
}

.subtask-item {
background-color: #ececec;
margin: 5px 0px 5px 0px;
}

.comment-photo{
  width: 200px;
}

a.accordion-link:hover {
  color: black;


