<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comments_form-{{subtask.id}}" aria-expanded="false" aria-controls="collapseExample">
        Add Comment
    </button>
</p>
<div class="collapse" id="comments_form-{{subtask.id}}">
    <div class="card card-body">
        {% if new_comment %}
        <h2>Your comment has been added.</h2>
        {% else %}
        <form action="{{checklist.id}}" method="post" enctype=multipart/form-data>
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="hidden" name="item_id" value="{{ subtask.id }}">
            <p><input type="submit" value="Add comment"></p>
        </form>
        {% endif %}
    </div>
</div>