<div class="card-footer text-muted" style="margin: 5px 0px 5px 0px;">
    {% for comment in subtask.comments.all %}
    <div class="comment">
        <p class="info">
            {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body }}<br>
        {% if comment.photo %}
            <img src="{{comment.photo.url}}" class="img-fluid comment-photo"><br>
        {% endif %}
        {% if comment.file %}
        <a href="{{comment.file.url}}" download="{{comment.file}}">{{comment.file}}</a>
        {% endif %}
    </div>
    {% empty %}
    <p>There are no comments.</p>
    {% endfor %}
</div>
